<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Some web-app</title>
    <link href="../static/style.css" rel="stylesheet" type="text/css">

</head>
<body>
    <nav class="navbar">
        <div class="container">
            <a class="navbar-brand">Проверка погоды</a>
            <ul class="navbar-menu">
                <li><a href = '#'>О сайте</a></li>
                <li><a href = '#'>Контакты</a></li>
                <li><a href = '#'>Картинка котика</a></li>
            </ul>
        </div>
    </nav>


    <div class="container_box">
        <div class = "box1" style="--clr:#eb5ae5">
        <div class="content">
            <h3>Блок 1</h3>
            <p>Текст блока 1</p>
        </div>
    </div>
        <div class="container_box_2">
            <div class = "box2" style="--clr:#5b98eb">
        <div class="content">
            <h3>Блок 2</h3>
            <p>Текст блока 2</p>
        </div>
    </div>
        <div class = "box3" style="--clr:#5b98eb">
        <div class="content">
            <h3>Блок 3</h3>
            <p>Текст блока 3</p>
        </div>
    </div>
        <div class = "box4" style="--clr:#5b98eb">
        <div class="content">
            <h3>Блок 4</h3>
            <p>Текст блока 4</p>
        </div>
    </div>
        </div>

    </div>
</body>
</html>