<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Some web-app</title>
    <link href="../static/style.css" rel="stylesheet" type="text/css">

</head>
<body>
    <nav class="navbar">
        <div class="container">
            <a class="navbar-brand">The Curator of weather</a>
            <ul class="navbar-menu">
                <li><a href = 'https://github.com/bolotovmark/webApp'>Github</a></li>
            </ul>
        </div>
    </nav>


    <div class="container_box">
        <div class = "box1">
                <div class="content">
                <h2>Cравнение предыдущего дня {{ table[0].date.day}}.{{ table[0].date.month}}</h2>

                <table class="last">
                    <th><b>Источник</b></th>
                    <th><b>Время</b></th>
                    <th><b>Характер</b></th>
                    <th><b>Температура</b></th>
                    <th><b>Ветер</b></th>

                    <tr>
                    <td rowspan="4" class="la">Архив</td>
                        {% for row in table %}

                                <td>{{ row.date.hour }}:00</td>
                                <td>{{ row.character}}</td>
                                <td>( {{ row.temp_a }}; {{ row.temp_b }} )</td>
                                <td>( {{ row.wind_speed_a }} - {{ row.wind_speed_b }} )</td>
                            </tr>
                        {% endfor %}
                    <th colspan="5" height="0"></th>

                    <tr>
                    <td rowspan="4" class="la">Gismeteo</td>
                        {% for row in table_gismeteo_last %}
                                <td>{{ row.date.hour }}:00</td>
                                <td>{{ row.character }}</td>
                                <td>( {{ row.temp_a }}; {{ row.temp_b }} )</td>
                                <td>( {{ row.wind_speed_a }} - {{ row.wind_speed_b }} )</td>
                            </tr>
                        {% endfor %}
                    <th colspan="5" height="0"></th>

                    <tr>
                    <td rowspan="4" class="la">Yandex</td>
                        {% for row in table_yandex_last %}

                                    <td>{{ row.date.hour }}:00</td>
                                    <td>{{ row.character }}</td>
                                    <td>( {{ row.temp_a }}; {{ row.temp_b }} )</td>
                                    <td>( {{ row.wind_speed_a }} - {{ row.wind_speed_b }} )</td>
                                </tr>
                        {% endfor %}
                    <th colspan="5" height="0"></th>

                    <tr>
                    <td rowspan="4" class="la">Rp5</td>
                        {% for row in table_rp5_last %}

                                <td>{{ row.date.hour }}:00</td>
                                <td>{{ row.character }}</td>
                                <td>( {{ row.temp_a }}; {{ row.temp_b }} )</td>
                                <td>( {{ row.wind_speed_a }} - {{ row.wind_speed_b }} )</td>
                            </tr>
                        {% endfor %}

                </table>
                </div>
        </div>




        <div class="container_box_2">
            <div>
                <div class="content">
                    <h2>Погода на {{ table_gismeteo_tomorow[0].date.day}}.{{ table_gismeteo_tomorow[0].date.month }}</h2>
                    <br>
                    <h3>Gismeteo</h3>
                    <table style="width: 600px;">
                        {% for row in table_gismeteo_tomorow %}
                            <tr>
                                <td>{{ row.date.hour }}:00</td>
                                <td>{{ row.character }}</td>
                                <td>( {{ row.temp_a }}; {{ row.temp_b }} )</td>
                                <td>( {{ row.wind_speed_a }} - {{ row.wind_speed_b }} )</td>
                            </tr>
                        {% endfor %}
                    </table>

                    <p><a href = "{{ url_for('template_gismeteo') }}" style="text-decoration: none;  color: #333;">Посмотреть архив</a></p>
                </div>


            </div>

            <div>
                <div class="content">
                    <br>
                    <h3>Яндекс</h3>

                     {% for row in table_day %}
                    <p>Погода на {{ row.date.day}}.{{ row.date.month }}</p>
                {% endfor %}

                <table style="width: 600px;">
                    {% for row in table_yandex_tomorow %}
                        <tr>
                            <td>{{ row.date.hour }}:00</td>
                            <td>{{ row.character }}</td>
                            <td>( {{ row.temp_a }}; {{ row.temp_b }} )</td>
                            <td>( {{ row.wind_speed_a }} - {{ row.wind_speed_b }} )</td>
                        </tr>
                    {% endfor %}
                </table>
                    <p><a href = "{{ url_for('template_yandex') }}" style=" text-decoration: none;  color: #333;">Посмотреть архив</a></p>

                </div>
            </div>

            <div>
                <div class="content">
                    <br>
                    <h3>Rp5</h3>

                <table style="width: 600px;">
                    {% for row in table_rp5_tomorow %}
                        <tr>
                            <td>{{ row.date.hour }}:00</td>
                            <td>{{ row.character }}</td>
                            <td>( {{ row.temp_a }}; {{ row.temp_b }} )</td>
                            <td>( {{ row.wind_speed_a }} - {{ row.wind_speed_b }} )</td>
                        </tr>
                    {% endfor %}
                </table>
                <p><a href = "{{ url_for('template_rp5') }}" style=" text-decoration: none;  color: #333;">Посмотреть архив</a></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>