<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Some web-app</title>
    <link href="../static/style.css" rel="stylesheet" type="text/css">

</head>
<body>
    <nav class="navbar">
        <div class="container">
            <a class="navbar-brand">Проверка погоды</a>
            <ul class="navbar-menu">
                <li><a href = '#'>О сайте</a></li>
                <li><a href = '#'>Контакты</a></li>
                <li><a href = 'https://cataas.com/cat'>Картинка котика</a></li>
            </ul>
        </div>
    </nav>


    <div class="container_box">
        <div class = "box1" style="--clr:#eb5ae5">
        <div class="content">
        <br><br><br>
        {% for row in table_day %}
            <h3>Погода на сайтах и в действительности на {{ row.date.day}}.{{ row.date.month }}</h3>
        {% endfor %}
<table class="last">
    <tr>
        <td>


            <p><b>Погода из архива</b></p>
        <br> <br><br><br>
            <p><b>Гисметео</b></p>
        <br><br><br><br>
            <p><b>Яндекс</b></p>
        <br><br><br><br>
            <p><b>Rp5</b></p>
        <br><br><br><br><br>
    </td>
    <td>
            <table>
                <tr>
                    <td>Время</td>
                    <td>Характер</td>
                    <td>Температура</td>
                     <td>Ветер</td>
                </tr>
            {% for row in table %}
                <tr>
                    <td>{{ row.date.hour }}:00</td>
                    <td>{{ row.character }}</td>
                    <td>( {{ row.temp_a }}; {{ row.temp_b }} )</td>
                    <td>( {{ row.wind_speed_a }} - {{ row.wind_speed_b }} )</td>
                </tr>
            {% endfor %}
        {% for row in table_gismeteo_last %}
                <tr>
                    <td>{{ row.date.hour }}:00</td>
                    <td>{{ row.character }}</td>
                    <td>( {{ row.temp_a }}; {{ row.temp_b }} )</td>
                    <td>( {{ row.wind_speed_a }} - {{ row.wind_speed_b }} )</td>
                </tr>
            {% endfor %}
        {% for row in table_yandex_last %}
                <tr>
                    <td>{{ row.date.hour }}:00</td>
                    <td>{{ row.character }}</td>
                    <td>( {{ row.temp_a }}; {{ row.temp_b }} )</td>
                    <td>( {{ row.wind_speed_a }} - {{ row.wind_speed_b }} )</td>
                </tr>
            {% endfor %}
            {% for row in table_rp5_last %}
                <tr>
                    <td>{{ row.date.hour }}:00</td>
                    <td>{{ row.character }}</td>
                    <td>( {{ row.temp_a }}; {{ row.temp_b }} )</td>
                    <td>( {{ row.wind_speed_a }} - {{ row.wind_speed_b }} )</td>
                </tr>
            {% endfor %}

        </table>
    </td>
</tr>
</table>
        </div>
        </div>




        <div class="container_box_2">
            <div class = "box2" style="--clr:#5b98eb">
        <div class="content">
            <h3>Блок 2</h3>
            <p>Текст блока 2</p>
        </div>
    </div>
        <div class = "box3" style="--clr:#5b98eb">
        <div class="content">
            <h3>Блок 3</h3>
            <p>Текст блока 3</p>
        </div>
    </div>
        <div class = "box4" style="--clr:#5b98eb">
        <div class="content">
            <h3>Блок 4</h3>
            <p>Текст блока 4</p>
        </div>
    </div>
        </div>

    </div>
</body>
</html>