<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gismeteo</title>
     <link href="../static/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <nav class="navbar">
        <div class="container">
            <a class="navbar-brand">The Curator of weather</a>
            <ul class="navbar-menu">
                <li><a href = 'https://github.com/bolotovmark/webApp'>Github</a></li>
            </ul>
        </div>
  </nav>

  <div >
    <div class="gis" style="justify-content: center; padding: 30px">
        <table>
                <tr>
                            <th><b>Дата/Время</b></th>
                            <th><b>Характер</b></th>
                            <th><b>Температура</b></th>
                            <th><b>Ветер</b></th>
                </tr>



                {% for row in yandex_table %}
                    <tr>
                        <td style="width: 70px">{{ row.date.day }}.{{ row.date.month }} {{ row.date.hour }}:00</td>
                        <td  style="width: 350px">{{  row.character }}</td>
                        <td  style="width: 90px">( {{  row.temp_a }}; {{  row.temp_b }} )</td>
                        <td>( {{  row.wind_speed_a }} - {{  row.wind_speed_b }} )</td>
                    </tr>
                {% endfor %}

                </table>
                <br>
                <p><a href = "{{ url_for('hello_world') }}" style=" text-decoration: none;  color: #333;"><b>Назад</b></a></p>


    </div>
  </div>


</body>
</html>